<h1>Ranking</h1>

<div class="panel panel-default">
  <% @rankings.each.with_index(1) do |ranking, i| %>
  <div class="panel-heading"><%= i %> <%= ranking.person1 %>(左)  vs <%= ranking.person2 %>(右)</div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-6"><%= image_tag('/koyabu.jpeg', style: 'height:auto;width:100%;') %></div>
      <div class="col-sm-6"><%= image_tag('/pechonzoku.jpeg', style: 'height:auto;width:100%;' ) %></div>
    </div>
    <div>
      score:<%= ranking.score %>
    </div>
  </div>
</div>

<div class="panel panel-default col-md-12">
  <div class="row">
    <div class="col-sm-8">col-sm-8</div>
    <div class="col-sm-4">col-sm-4</div>
  </div>
</div>
  <% end %>
